@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.transition-duration-500 {
  animation: moveToast 2s;
}

@keyframes moveToast {
  0% {
    top: -40px;
  }
  50% {
    top: 20px;
  }
  100%{
    top: 0px;
  }
}
