@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.border-frame {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.border-behind{
  border-bottom: 0px white solid;
}

.transition-duration-500 {
  animation: moveToast 2s;
}

@keyframes moveToast {
  0% {
    top: -40px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}
