@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.border-frame {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.border-behind{
  border-bottom: 0px white solid;
}
.border-avatar{
  border: 6px rgb(24 24 27) solid;
}

.border-avatar::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: green;
  z-index: 20;
  bottom: 0;
}

.transition-duration-500 {
  animation: moveToast 2s;
}

@keyframes moveToast {
  0% {
    top: -40px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0px;
  }
}

.swiper-slide{
  width: 320px;
}
